@font-face {
  font-family: 'Beba';
  src: url("../font/bebas___-webfont.ttf"); }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue.ttf");
  src: url("../font/HelveticaNeue.eot");
  src: url("../font/HelveticaNeue.woff"); }
article {
  padding-right: 60px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h3, h4 {
  margin: 0; }

body {
  font-size: 16px; }

.colort {
  color: transparent; }

.mgt {
  margin-top: -30px; }

.pd {
  padding: 0px; }

.pdt {
  padding: 10px 0px; }

.pdb {
  padding-bottom: 50px; }

.row {
  border-left: 15px solid white;
  border-right: 15px solid white; }

.franja {
  background: #F1AE9D; }
  .franja .liston {
    color: white;
    background-color: #E7663B;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Beba'; }

.boton {
  font-family: 'Beba';
  display: inline-block;
  margin-top: 8px 15px;
  text-transform: uppercase;
  color: white;
  background-color: #E7663B;
  padding: 8px 15px;
  border: 1px solid transparent; }
  .boton:hover {
    text-decoration: none;
    border: 1px solid #E7663B;
    background-color: #F1AE9D;
    transition: all 1s; }

.bck {
  background-image: url(../images/bck1.png);
  background-repeat: repeat;
  margin-bottom: 30px; }
  .bck h3 {
    display: inline-block;
    font-family: 'Beba';
    padding: 4px 35px 3px 0px;
    background-color: white;
    color: #E7663B;
    text-transform: uppercase; }

header {
  font-family: 'Beba'; }

.navbar {
  margin-top: 15px;
  margin-bottom: 0px; }
  .navbar li a {
    padding: 5px 15px; }
  .navbar .active {
    background-color: #E7663B;
    color: white; }
  .navbar .caja {
    border: 1px solid #E7663B;
    background-color: #F1AE9D;
    width: 80px;
    height: 80px;
    display: inline-block; }

footer .franja .liston {
  padding: 5px 10px; }
footer article {
  padding-right: 60px; }
  footer article h2 {
    font-family: 'Beba';
    font-size: 1.1em;
    word-spacing: 3px;
    font-size: 1.3em; }
  footer article p {
    font-family: 'Helvetica Neue';
    text-transform: none;
    font-size: .9em;
    color: white; }

.principal .franja {
  height: 50px; }
.principal .banner {
  position: relative;
  bottom: 50px;
  background-image: url("../images/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px; }

article {
  padding-right: 40px;
  margin-bottom: 40px; }
  article p {
    color: #000; }
  article .media .media-body h4 {
    color: #E7663B;
    font-family: 'Beba';
    font-size: 1.1em;
    word-spacing: 3px;
    padding: 5px;
    line-height: 1.5; }

.previewgallery {
  font-family: 'Beba'; }
  .previewgallery h4 {
    font-family: 'Beba';
    font-size: 1.1em;
    word-spacing: 3px;
    margin-top: 3px;
    color: gray; }
  .previewgallery img {
    width: 100%; }
  .previewgallery .info {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px; }
    .previewgallery .info span {
      color: #E7663B;
      font-size: .7em; }

.contenido {
  padding-top: 20px; }
  .contenido p {
    color: black;
    font-size: .9em; }
  .contenido .imgarticle {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 5px; }
    .contenido .imgarticle img {
      width: 100%; }
  .contenido .media {
    margin: 0px 0px 20px; }
  .contenido blockquote {
    width: 80%;
    margin: 30px auto;
    padding: 0px 20px;
    border-color: #E7663B; }
    .contenido blockquote p {
      color: #E7663B;
      line-height: 1.5; }
  .contenido .bck {
    margin-bottom: 15px; }
    .contenido .bck h3 {
      font-size: 1em; }
  .contenido a {
    display: block;
    color: black;
    font-size: .9em; }
  .contenido .caja {
    border: 1px solid #E7663B;
    background-color: #F1AE9D;
    width: 55px;
    height: 55px;
    display: inline-block; }

.contenido article .imgbefore {
  position: relative; }
  .contenido article .imgbefore img {
    width: 100%;
    margin-bottom: 10px; }
  .contenido article .imgbefore:before {
    content: url("../images/icon1.png");
    position: absolute;
    left: -90px; }
.contenido article h3 {
  font-family: 'Beba';
  font-size: 1.1em;
  word-spacing: 3px;
  padding-top: 3px;
  color: #E7663B;
  font-size: .9em;
  margin: 15px 0px; }
.contenido article a {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .contenido .media .media-body {
    overflow: initial; } }

/*# sourceMappingURL=style.css.map */
