header{
		font-family: 'Beba';
}
.navbar {
	margin-top:15px;
	margin-bottom: 0px;
	   li{
		   	a{
		   		padding:5px 15px;
		   } 
	   }
   
   .active{
   		font-weight: bold;
   		color:$orange;
   }
	.caja{
		border:1px solid $orange;
		background-color:$orangelight;
		width: 80px;
		height:80px;
		display: inline-block;
	}
	.navbar-brand{
		color:$orange;
		font-size: 2em;
		span{
			color:$orangelight;
		}
	}
	.navbar-toggle {
	    margin-top: 0px;
	    background-color: $orangelight;
	    border: 1px solid orange;
	    color:white;
	    .icon-bar{

	    }
	}
}