@media screen and (max-width:768px){
	.contenido{
		.media{
			.media-body{
				overflow: initial;
			}
		}
		.form-group{
			input{
				width: 100%;
			}
		}
	}
	article{
		padding:0;
		margin:0;
	}
	
}